.payment {
  background-color: white;
}

.payment__container > h2 {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;

  /* font-weight: 400; */
}
.payment__container > h2 > a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid lightgray;
}
.payment__title {
  flex: 0.2;
}
.payment__details,
.payment__items,
.payment__address {
  flex: 0.8;
}
.payment__details > form {
  max-width: 400px;
}
.payment__price__container > h4 {
  padding: 8px;
  /* margin: 10px; */
}
.payment__details > form > button {
  align-self: center;
  background: #f0c14b;
  border-radius: 7px;
  width: 140px;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
